
/* Web dizajner CSS */

/* reset *********************************************************** */
*{box-sizing:border-box;
margin:0;}

/* osnovno uređivanje HTML elemenata ********************************  */
body{background-color:#FFF/*rgb(11,178,233)*/;
font-family:'Trebuchet MS',sans-serif;
font-size:16px;
color:#333;}
a{text-decoration:none;}
h1{font-family: 'Racing Sans One', cursive;
font-weight:lighter;}
img{max-width:50%;
height:auto;}
h1{margin-bottom:1em;}
/* poništavanje donje margine tamo  gdje nije potrebna */
 #banner h1,#banner p{margin-bottom:0;}

/* layout ************************************************************** */
#menu,#page-footer{padding:1em;}
#menu,#page-footer{background-color:#333;
color:#EEE;}

.wrapper{width:100%;
max-width:1200px;
margin:1em auto;}
.clearfix:after{content:" ";
display:block;
clear:both;}

.float-left{float:left;}
.margin-right{margin-right:2%;}
.margin-right:last-child{margin-right:0;}

.col4-12-margin{width:32%;}
.col8-12-margin{width:65.66%;}


/* HEADER ********************************************************************* */

/* Navigacija ************************************************** */
#menu .wrapper {margin:0 auto;
/* border:2px dashed red;   */
}

/* Izbornik ************************************ */

#jezik span{
display:inline-block;
/* Bilo je inline, a promijenio sam jer inline-block daje ljepši izgled izbornika. */
padding-top:1px;
padding-bottom:1px;
padding-left:0.4em;
padding-right:0.4em;
border:2px solid #333;
margin-right:0.8em;}

#jezik a{font-size:20px;
color:#EEE;}
#jezik a:visited{color:#EEE;}
#jezik a:hover{color:#F93;}
#jezik img:hover{opacity:0.7;}

#menu .stranica{
padding-top:1px;
padding-bottom:1px;
padding-left:0.4em;
padding-right:0.4em;
border:2px solid #00F;
margin-right:0.8em;
}

/* Jezici *********************************** */
.zastava{vertical-align:middle;}
#s{width:80%;
margin-right:10px;
display: inline-block;}

/* Banner ***************************************************** */
#banner{height:400px;
color:#FFF;
display:flex;
background:url(slike/web-dizajn.jpg) no-repeat center center/cover;}
#banner .wrapper{margin:auto;/* centriranje u FF, Opera, Chrome, Safari */
align-self:center; /* centriranje u IE */}
#banner h1{font-size:96px;display:inline;}
/* #banner p{font-size:36px;
font-family: 'Sedgwick Ave', cursive;}  */

#banner h1:hover{opacity:.5;}
#banner .wrapper{position:relative;
/*border:2px dashed red;*/
}
#banner .wrapper img{position:absolute;
top:-59px;
left:70%;
}
#banner img{opacity:.7;}
#banner img:hover{opacity:0.4;}

#banner p{font-size:36px;
font-family: Tahoma, Geneva, sans-serif;}

/* MAIN ********************************************************************* */
#content img{max-width:100%;
height:auto;}
#content img{opacity:.7;}
#content img:hover{opacity:0.4;}


/* FOOTER ********************************************************************* */
#page-footer .wrapper h1{font-size:22px;
margin:.25em 0;}

/*#page-footer .wrapper{border:2px dashed red;} */
#page-footer .wrapper{
margin-top:0;
padding-top:0;
margin-bottom:0;
padding-bottom:0;}
#page-footer{
padding-top:1px;}
#page-footer{
padding-bottom:1px;}

#page-footer a{color:#EEE;}
#page-footer a:visited{color:#999;}
#page-footer a:hover{color:#F93;}

#copyright{border-top:1px solid #999;
/*padding:1em 0;*/}
#copyright p{
margin:.4em 0;}
#copyright{text-align:right;}



/*  Media Queries ****************** **************   media queries*/


/* mali desktop monitori manji od 1200px (tableti u landscape orijentaciji)  */
/* u banneru smo morali smanjiti wrapper da se ne bi prislonio uz rub */
@media (max-width:1199px){

#banner .wrapper{width:90%;}

img{max-width:40%;
height:auto;}

}


/* PRVO  */
/*svi mobilni uređaji(tableti smarfoni ...) manji od 1024 px širine*/
@media (max-width:1023px) {

img{max-width:30%;
height:auto;}

.col4-12-margin,.col8-12-margin{width:100%;}
.float-left{float:none;}
.margin-right{margin-right:0;}

#menu-ispravak{display:none;}
#s{width:100%;
margin-right:0;
padding-right:20%;}

/* dio ispod nije pročitan u photoshopu - "pretpostavljen" je a kopiran je iz dijela ispod i nakon toga su promijenjene veličine*/
/* 320 px najmanja visina u horizontalnoj orijentaciji - iphone 5 */
/* provjeravamo kako izgleda na malim mobilnim uređajima u horizontalnoj orijentaciji  */
#banner{height:320px;}
#banner h1{font-size:64px;}
#banner p{font-size:32px;}

/*#page-footer a, #menu a{padding:2.5em 0;
margin-bottom:0.5em;}*/
#page-footer a, #menu a{display:inline-block;}


/* MOBILE MENU */
#jezik{text-align:right;
/*display:none;*/}

}


@media (max-width:700px) {

#banner .wrapper img{
top:-10px;
/*left:77%;*/
}
#banner{height:250px;}
#banner h1{font-size:48px;}
#banner p{font-size:24px;}

}


@media (max-width:550px) {

#banner .wrapper img{
/*top:-10px;*/
left:80%;
}

}


/*  mali mob uređeji  (smarphone, mobiteli u vertikalnoj orijentaciji) vertikalna orijentacija */
@media (max-width:479px) {

/*img{max-width:20%;
height:auto;}*/
#banner .wrapper img{
/*top:-10px;*/
left:70%;
}

#banner{height:180px;}
#banner h1{font-size:32px;}
#banner p{font-size:16px;}
}
